@import 'tailwindcss';

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #1a0f30;
}

app-root {
  display: block;
  min-height: 100vh;
  background: transparent !important;
}
